@import url('./styles/fonts/chillax.css');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
input{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@font-face {
  font-family: 'Chillax-Extralight';
  src: url('../fonts/Chillax-Extralight.woff2') format('woff2'),
       url('../fonts/Chillax-Extralight.woff') format('woff'),
       url('../fonts/Chillax-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Chillax-Light';
  src: url('../fonts/Chillax-Light.woff2') format('woff2'),
       url('../fonts/Chillax-Light.woff') format('woff'),
       url('../fonts/Chillax-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Chillax-Regular';
  src: url('./fonts/Chillax-Regular.woff2') format('woff2'),
       url('./fonts/Chillax-Regular.woff') format('woff'),
       local('../fonts/Chillax-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Chillax-Medium';
  src: url('../fonts/Chillax-Medium.woff2') format('woff2'),
       url('../fonts/Chillax-Medium.woff') format('woff'),
       url('../fonts/Chillax-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Chillax-Semibold';
  src: url('../fonts/Chillax-Semibold.woff2') format('woff2'),
       url('../fonts/Chillax-Semibold.woff') format('woff'),
       url('../fonts/Chillax-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Chillax-Bold';
  src: url('../fonts/Chillax-Bold.woff2') format('woff2'),
       url('../fonts/Chillax-Bold.woff') format('woff'),
       url('../fonts/Chillax-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 700.0;
*
* available axes:
'wght' (range from 200.0 to 700.0
*/
@font-face {
  font-family: 'Chillax-Variable';
  src: local('./chillax.css'),
  url('../fonts/Chillax-Variable.woff2') format('woff2'),
       url('../fonts/Chillax-Variable.woff') format('woff'),
       url('../fonts/Chillax-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
